---
interface Props {
    dialogModal: string;
}

const { dialogModal } = Astro.props
---
<dialog id={dialogModal} class="modal">
  <div class="modal-box">
    <slot></slot>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>