---
interface Props {
    sectionName: string;
    title: string;
    subtitle: string;
    darkMode?: boolean;
}

const { sectionName, title, subtitle, darkMode = false } = Astro.props;

---
<div class='text-center m-auto mb-8 w-fit'>
    <span class={`font-bold text-2xl ${darkMode ? 'text-base-100' : 'text-secondary'}`}>{sectionName}</span>
    <h2 class={`mt-0 mb-2 text-4xl font-[Alegreya] ${darkMode ? 'text-base-100' : 'text-secondary'}`}>{title}</h2>
    <span class={`font-light w-9/12 block m-auto ${darkMode ? 'text-base-100' : 'text-base-900'}`}>{subtitle}</span>
</div>